.jumbotron {
  background: rgb(34,143,164);
  background: linear-gradient(114deg, rgba(34,143,164,1) 0%, rgba(57,50,77,1) 11%, rgba(37,38,52,1) 60%);

  img {
    height: 60px;
    width: 220px;
    cursor: pointer;
  }

  h2 {
    color: white;
    font-weight: bolder;
    margin-top: 17px;
  }
}

