<app-header title="Challenge on generating username"></app-header>
<div class="mainContent mt-4">
  <div class="col-md-8 col-sm-12">
    <div class="card mb-5">
      <div class="card-body">
        <h3 class="mb-3 cardTitle">Question 5</h3>
        <blockquote>
          <div class="mb-2">
            Fix the following issues in the component :
            <span class="highlighted">ExpressionChangedAfterItHasBeenCheckedError</span>.
            Spot the memory leak
          </div>
        </blockquote>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="font-weight-bold mb-3">
          I am sorry I couldn't solve this because I could not replicate the error on my machine
        </div>
        <div>
          These are what I tried.<br />
          <ol>
            <li>
              I did <span class="highlighted">npm install</span> on the package I downloaded.
              Then when I did <span class="highlighted">ng serve</span> it gave this error:
              <span class="text-danger">An unhandled exception occurred:
            Job name "..getProjectMetadata" does not exist.</span> I am using Angular 11.
            </li>
            <li>
              I copied the codes in the question 5 to my IDE, but my IDE (Webstorm) was showing me alot
              of errors on the code. It even broke the app that was working perfectly.
            </li>
            <li>
              I changed <span class="highlighted">ngAfterViewInit</span> to
              <span class="highlighted">ngContentViewInit</span>,
              but I could not test my answer because of 1 and 2.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
