@import "utilities";
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: ProximaNova;
  src: url(assets/font/ProximaNova-Reg.otf) format("opentype");
}

body {
  background: #F8F8F8;
}

.mainContent {
  padding: 15px 50px;
  margin-top: 30px;
}

.cardTitle {
  color: rgb(57, 50, 77);
  font-weight: bolder;
}
