<div class="mainContent mt-4">
  <div class="offset-lg-2 col-lg-6 col-md-8 col-sm-12">
    <div class="card mb-5">
      <div class="card-body">
        <h3 class="mb-3 cardTitle">Question 4</h3>
        <blockquote>
          <div class="mb-2">
            Add 2 input forms in the following component for first name and last name. Once both forms are filled out by
            the user, and user has clicked out of the fields, then beside it a username should be automatically
            generated which should be in the following format: [firstname]_[lastname]_[random integer]
          </div>
          <div class="mb-2">
            First name and last name should be lowercased, and then a random integer between 1 and 9 should be added
            to the end
          </div>
          <div>
            For example: if the inputs are "John" and "DOE" the generated username could be "john_doe_4" or "john_doe_2"
          </div>
        </blockquote>
      </div>
    </div>
    <div>
      <h2>User Review:</h2>
      <textarea class="textfield form-control" placeholder="Write your Review" [(ngModel)]="review_input"
        ></textarea>

      <div class="mt-2">
        <button (click)="previewContent()" class="btn btn-primary btn-lg mt-4">
          Preview
        </button>
      </div>

      <div>
        <h3 class="mt-3">Output:</h3>
        <div class="output" [innerHTML]="review_content | linkify" style="white-space: pre-wrap">
        </div>

      </div>
    </div>
  </div>
</div>

