.textfield {
  width: 600px;
  height: 220px;
  padding: 10px;
  box-sizing: border-box;
}

.output {
   max-width: 100%;
   width: 600px;
   border: solid 1px #f9f6f6;
   padding: 5px;
   background: #ecebeb;
}
